name: tools

services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    # ports:
      # - 9443
    networks:
      - tools

volumes:
  portainer_data:
    name: portainer_data

networks:
  tools:
    name: tools
    external: true
