name: multimedia

services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: 1000:100
    group_add:
      - "105"
    volumes:
      - /home/haitv/.config/jellyfin:/config
      - /media/Data/@media/media:/media
      - /home/haitv/.cache/jellyfin:/cache
    deploy:
      resources:
        reservations:
          devices:
            - driver: cdi
              device_ids:
                - nvidia.com/gpu=all
              capabilities:
                - gpu
    restart: 'unless-stopped'
    networks:
      - multimedia

networks:
  multimedia:
    name: multimedia
    external: true
