# {
# 	dynamic_dns {
# 		provider cloudflare {env.CLOUDFLARE_API_TOKEN}
# 		domains {
# 			haivita.com
# 		}
# 	}
# 	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
# }
{
	admin 0.0.0.0:2019

	# dynamic_dns {
	# 	provider duckdns {env.DUCKDNS_API_TOKEN}
	# 	domains {
	# 		haivita.duckdns.org *
	# 	}
	# 	versions ipv4
	# }

	dynamic_dns {
		provider dynv6 {env.DYNV6_API_TOKEN}
		domains {
			haivita.dynv6.net *
		}
		versions ipv4
	}
}

# *.haivita.duckdns.org {
# 	tls {
# 		dns duckdns {env.DUCKDNS_API_TOKEN}
# 	}
# 	handle {
# 		respond 404
# 	}
# }

*.haivita.dynv6.net {
	tls {
		dns dynv6 {env.DYNV6_API_TOKEN}
	}
	handle {
		respond 404
	}
}

haivita.dynv6.net {
	reverse_proxy homepage:3000
}

file.haivita.dynv6.net {
	reverse_proxy filebrowser:8080
}

image.haivita.dynv6.net {
	reverse_proxy immich_server:2283
}

jellyfin.haivita.dynv6.net {
	reverse_proxy jellyfin:8096
}

radarr.haivita.dynv6.net {
	reverse_proxy radarr:7878
}

sonarr.haivita.dynv6.net {
	reverse_proxy sonarr:8989
}

bazarr.haivita.dynv6.net {
	reverse_proxy bazarr:6767
}

jellyseerr.haivita.dynv6.net {
	reverse_proxy jellyseerr:5055
}

prowlarr.haivita.dynv6.net {
	reverse_proxy prowlarr:9696
}

home.haivita.dynv6.net {
	reverse_proxy homeassistant:8123
}

qbit.haivita.dynv6.net {
	reverse_proxy qbittorrent:8080
}

chat.haivita.dynv6.net {
	reverse_proxy open-webui:8080
}

up.haivita.dynv6.net {
	reverse_proxy uptime-kuma:3001
}

ollama.haivita.dynv6.net {
	basic_auth {
		{$caddyfile_auth_user} {$caddyfile_auth_pass}
	}

	reverse_proxy ollama:11434
}

wud.haivita.dynv6.net {
	reverse_proxy wud:3000
}

cockpit.haivita.dynv6.net {
	@auth {
		not path /cockpit/login
	}

	basic_auth @auth {
		{$caddyfile_auth_user} {$caddyfile_auth_pass}
	}

	reverse_proxy https://host.docker.internal:9090 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}
