{
	admin 0.0.0.0:2019

	dynamic_dns {
		provider duckdns {env.DUCKDNS_API_TOKEN}
		domains {
			haivita.duckdns.org *
		}
		versions ipv4 ipv6
	}

	dynamic_dns {
		provider dynv6 {env.DYNV6_API_TOKEN}
		domains {
			haivita.dynv6.net
		}
		versions ipv4 ipv6
	}

	dynamic_dns {
		provider cloudflare {env.CLOUDFLARE_API_TOKEN}
		domains {
			haivita.top *
		}
	}
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

*.haivita.duckdns.org {
	tls {
		dns duckdns {env.DUCKDNS_API_TOKEN}
	}

	handle {
		respond 404
	}
}

*.haivita.dynv6.net {
	tls {
		dns dynv6 {env.DYNV6_API_TOKEN}
	}
	handle {
		respond 404
	}
}

*.haivita.top {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	handle {
		respond 404
	}
}

haivita.dynv6.net, haivita.duckdns.org, haivita.top {
	reverse_proxy homepage:3000
}

trade.haivita.top {
	reverse_proxy freqtrade:8080
}

speed.haivita.top {
	reverse_proxy speedtest-tracker:80
}

blog.haivita.top {
	reverse_proxy ghost:2368
}

ddns.haivita.top {
	basic_auth {
		{$caddyfile_auth_user} {$caddyfile_auth_pass}
	}

	reverse_proxy ddns-updater:8000
}

file.haivita.top {
	reverse_proxy filebrowser:8080
}

glances.haivita.top {
	reverse_proxy host.docker.internal:61208
}

image.haivita.top {
	reverse_proxy immich_server:2283
}

jellyfin.haivita.top {
	reverse_proxy jellyfin:8096
}

radarr.haivita.top {
	reverse_proxy radarr:7878
}

sonarr.haivita.top {
	reverse_proxy sonarr:8989
}

bazarr.haivita.top {
	reverse_proxy bazarr:6767
}

jellyseerr.haivita.top {
	reverse_proxy jellyseerr:5055
}

prowlarr.haivita.top {
	reverse_proxy prowlarr:9696
}

home.haivita.top {
	reverse_proxy homeassistant:8123
}

qbit.haivita.top {
	reverse_proxy qbittorrent:8080
}

chat.haivita.top {
	reverse_proxy open-webui:8080
}

up.haivita.top {
	reverse_proxy uptime-kuma:3001
}

ollama.haivita.top {
	basic_auth {
		{$caddyfile_auth_user} {$caddyfile_auth_pass}
	}

	reverse_proxy ollama:11434
}

wud.haivita.top {
	reverse_proxy wud:3000 {
		transport http {
			dial_timeout 15s
		}
	}
}

cockpit.haivita.top {
	@auth {
		not path /cockpit/login
	}

	basic_auth @auth {
		{$caddyfile_auth_user} {$caddyfile_auth_pass}
	}

	reverse_proxy https://host.docker.internal:9090 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}
