{
	admin 0.0.0.0:2019
	auto_https off
	servers {
		protocols h1 h2 h3
	}
}

(hide_server) {
	header -Server
}

disk.haivita.top:80 {
	import hide_server
	basic_auth {
		{$caddyfile_auth_user} {$caddyfile_auth_pass}
	}
	reverse_proxy scrutiny:8080
}

glances.haivita.top:80 {
	import hide_server
	basic_auth {
		{$caddyfile_auth_user} {$caddyfile_auth_pass}
	}
	reverse_proxy host.docker.internal:61208
}

mon.haivita.top:80 {
	import hide_server
	basic_auth {
		{$caddyfile_auth_user} {$caddyfile_auth_pass}
	}
	reverse_proxy host.docker.internal:19999
}

vault.haivita.top:80 {
	import hide_server
	reverse_proxy vaultwarden:80 {
		header_up X-Real-IP {remote_host}
	}
}

wud.haivita.top:80 {
	import hide_server
	reverse_proxy wud:3000 {
		transport http {
			dial_timeout 15s
		}
	}
}

:80 {
	import hide_server
	# extract subdomain
	@sub host *.haivita.top
	handle @sub {
		map {host} {upstream} {
			default ""
			speed.haivita.top speedtest-tracker:80
			blog.haivita.top ghost:2368
			file.haivita.top filebrowser:8080
			image.haivita.top immich_server:2283
			jellyfin.haivita.top jellyfin:8096
			radarr.haivita.top radarr:7878
			sonarr.haivita.top sonarr:8989
			bazarr.haivita.top bazarr:6767
			jellyseerr.haivita.top jellyseerr:5055
			prowlarr.haivita.top prowlarr:9696
			qbit.haivita.top qbittorrent:8080
			up.haivita.top uptime-kuma:3001
			portainer.haivita.top portainer:9000
		}

		@has_upstream `{upstream} != ""`
		handle @has_upstream {
			reverse_proxy {upstream}
		}

		respond "unknown host" 404
	}

	# root
	@root host haivita.top
	handle @root {
		reverse_proxy homepage:3000
	}

	handle {
		respond "unknown host" 404
	}
}
