name: webserver

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    env_file:
      - config.env
      - path: .local.env
        required: false
    ports:
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - multimedia
      - tools
      - webserver
    labels:
      - wud.watch=false

networks:
  multimedia:
    name: multimedia
    external: true
  tools:
    name: tools
    external: true
  webserver:
    name: webserver
    external: true

volumes:
  caddy_data:
